@charset "UTF-8";

@media screen and (min-width: 400px) and (max-width:602px) {
    div#container{
    width: 60%;
    height: 70%;
    }
    div#left-login{
        
        width: 100%;
        border-radius: 10px 10px 10px 10px;
    }
    div#right-img{
        display: none;
    }
}
