@charset "UTF-8";

@media screen and (min-width: 400px) and (max-width:768px) {
    div#container{
        width: 70%;
        height: 400px;
        background-color: white;
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-image: linear-gradient(to bottom, #01AAEF,#027FE9);
        border-radius: 20px;
        box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.418);
    }
    div#left-login{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    div#left-login h1{
        text-align: center;
        color: white;
        padding: 5px;
        margin-top: 10px;
        margin-bottom: 20px;
        text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.466);
    }
    div#user-box{
        padding: 10px;
    }
    div#user-box input{
        padding: 5px;
        width: 90%;
        border-radius: 10px;
        border: none;
    }
    div#password-box{
        padding: 10px;
    }
    div#password-box input{
        padding: 5px;
        border-radius: 10px;
        width: 90%;
        border: none;
    }
    div#forget{
        display: inline-block;
        margin-left: 20px;
    }
    div#forget a{
        text-decoration: none;
        color: white;
    }
    div#forget a:hover{
        text-decoration: underline;
    }
    div#right-img{
        display: none;
    }
    #btn-submit{
        width: 100%;
        padding: 8px;
        margin-top: 30px;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        font-weight: bolder;
    }
    #btn-submit:hover{
        background-color: rgb(15, 105, 83);
        color: white;
    }
}
@media screen and (min-width: 769px) {
    div#container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 600px;
        height: 450px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.329);
        
    }
    div#left-login{
        width: 60%;
        background-image: linear-gradient(to bottom, #01AAEF,#027FE9);
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        border-radius: 10px 36px 36px 10px;
    }
    div#left-login h1{
        color: white;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.568);
        padding: 5px;
        margin-top: 10px;
    }
    div#user-box{
        padding: 10px;
    }
    div#user-box input{
        width: 90%;
        padding: 8px;
        border-radius: 10px;
        border: #01A9EF;
    }
    div#user-box p{
        color: white;
        text-align: center;
    }
    div#password-box{
        padding: 10px;
    }
    div#password-box input{
        width: 90%;
        padding: 8px;
        border-radius: 10px;
        border: #01A9EF;
    }
    div#password-box p{
        color: white;
        text-align: center;
    }
    div#check{
        color: white;
    }
    div#forget{
        display: inline;
        margin-left: 30px;
    }
    div#forget a{
        text-decoration: none;
        color: white;
    }
    div#forget a:hover{
        text-decoration: underline;
    
    }
    #btn-submit{
        margin-top: 30px;
        width: 100%;
        padding: 10px;
        border-radius: 20px;
        border: #01A9EF;
        cursor: pointer;
        font-weight: 800;
    }
    #btn-submit:hover{
        background-color: #0b664c;
        color: white;
    }
    div#right-img{
        position: absolute;
        top: 60%;
        left: 80%;
        transform: translate(-50%, -80%);
        background-image: url(../imagens/image-login.jpg);
        height: 250px;
        width: 240px;
        background-position: center center;
        background-size: contain;
        
    }
}
