@charset "URF=8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --font1: "Verdana", "Geneva", "Tahoma", sans-serif;
    --font2: "Passion One", sans-serif;
    --font3: "Sriracha", cursive;
}


*{
    margin: 0px;
    padding: 0px;
}
html, body{
    background-color: #081B26;
    min-height: 100vh;
    font-family: var(--font1);
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;  
    font-size: 10vw; 
    font-family: var(--font2);
}
header > p{
    padding-bottom: 50px;
}
a{
    text-decoration: none;
    color: #0F4459;
    font-weight: bolder;
}
a:hover{
    color: #006eff;
    text-decoration: underline;
}
section{
    font-family: var(--font3);
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size:3.5vw
}
section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    background-color: rgb(78, 78, 78);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.582);
    background-attachment: fixed;
}
section.imagem > p{
    background-color: #0f445950;
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 1px 5px 9px rgba(0, 0, 0, 0.459);
}
footer{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}
.cor-rodapé{
    color: white;
}
#img01{
    background-image: url(imagens/pexels-samerdaboul-774681.jpg);
    background-position: center center;
    background-size: cover;

}
