@charset "UTF-8";

/* Estilos para telas */

*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: rgb(114, 114, 114);
}
header h1{
    text-align: center;
}
menu ul{
    background-color: gray;
}
menu li{
    display: inline-block;
    margin: 5px;
    padding: 5px;
    background-color: rgb(99, 98, 98);
}
article{
    width: 600px;
    display: block;
    margin: auto;
    text-align: justify;
    line-height: 1.3em;
}