@charset "UTF-8";

/*configurações gerais */

*{
    margin: 0px;
    padding: 0px;
}
html, body{
    background-color: skyblue;
    width: 100vw;
    height: 100vh;
}
h1{
    color: white;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.616);
    padding: 10px;
}