@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right, #966371, #596B5B);
}
main{
    background-color: white;
    margin: auto;
    width: 600px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgb(80, 80, 80);
}
h1{
    text-shadow: 1px 1px 0px #152417;
    text-align: center;
    color:#EB4D77
}
h2{
    color:#63AB6D;
}